In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dataframe = pd.read_csv("C:/Users/wjddu/git/BigData/train/train_ori.csv")

In [3]:
dataframe = dataframe.loc[:, ~dataframe.T.duplicated()]
dataframe = dataframe.drop(['hour.1'], axis='columns')

In [4]:
dataframe

,date,year,month,day,hour,pow_gen,temperature,humidity,dew_point,sol_rad,cloud
0,2016-12-13-14,2016,12,13,14,140.631,4.3,77,0.6,100.000,0
1,2016-12-13-15,2016,12,13,15,85.793,4.3,80,1.1,72.222,0
2,2016-12-13-16,2016,12,13,16,32.590,3.8,80,0.6,55.556,0
3,2016-12-13-17,2016,12,13,17,0.154,3.4,80,0.2,13.889,0
4,2016-12-13-18,2016,12,13,18,0.000,2.6,86,0.4,2.778,0
...,...,...,...,...,...,...,...,...,...,...,...
35482,2020-12-31-19,2020,12,31,19,0.000,-0.9,65,-6.6,0.000,8
35483,2020-12-31-20,2020,12,31,20,0.000,-1.5,66,-7.0,0.000,8
35484,2020-12-31-21,2020,12,31,21,0.000,-1.9,75,-5.7,0.000,8
35485,2020-12-31-22,2020,12,31,22,0.000,-2.7,73,-6.8,0.000,8
35486,2020-12-31-23,2020,12,31,23,0.000,-4.0,84,-6.3,0.000,5

In [5]:
quantile_25 = np.quantile(dataframe['pow_gen'], 0.25)
quantile_75 = np.quantile(dataframe['pow_gen'],0.75)
IQR = quantile_75 - quantile_25
minimum = quantile_25 - 1.5 * IQR
maximum = quantile_75 + 1.5 * IQR
IQR
print(quantile_25, quantile_75, IQR, minimum, maximum)

0.0 411.7345 411.7345 -617.60175 1029.33625

In [6]:
dataframe.drop(dataframe[dataframe.pow_gen >= 1029.33625]. index, inplace = True)

In [7]:
dataframe.drop(dataframe[dataframe.pow_gen <= -617.60175]. index, inplace = True)

In [8]:
quantile_25 = np.quantile(dataframe['temperature'], 0.25)
quantile_75 = np.quantile(dataframe['temperature'],0.75)
IQR = quantile_75 - quantile_25
minimum = quantile_25 - 1.5 * IQR
maximum = quantile_75 + 1.5 * IQR
print(quantile_25, quantile_75, IQR, minimum, maximum)

5.0 21.3 16.3 -19.450000000000003 45.75

In [9]:
dataframe.drop(dataframe[dataframe.temperature >= 45.75]. index, inplace = True)

In [10]:
dataframe.drop(dataframe[dataframe.temperature <= -19.450000000000003]. index, inplace = True)

In [11]:
quantile_25 = np.quantile(dataframe['humidity'], 0.25)
quantile_75 = np.quantile(dataframe['humidity'],0.75)
IQR = quantile_75 - quantile_25
minimum = quantile_25 - 1.5 * IQR
maximum = quantile_75 + 1.5 * IQR
print(quantile_25, quantile_75, IQR, minimum, maximum)

51.0 90.0 39.0 -7.5 148.5

In [12]:
dataframe.drop(dataframe[dataframe.humidity >= 148.5]. index, inplace = True)

In [13]:
dataframe.drop(dataframe[dataframe.humidity <= -7.5]. index, inplace = True)

In [14]:
quantile_25 = np.quantile(dataframe['dew_point'], 0.25)
quantile_75 = np.quantile(dataframe['dew_point'],0.75)
IQR = quantile_75 - quantile_25
minimum = quantile_25 - 1.5 * IQR
maximum = quantile_75 + 1.5 * IQR
print(quantile_25, quantile_75, IQR, minimum, maximum)

-2.2 17.1 19.3 -31.150000000000002 46.050000000000004

In [15]:
dataframe.drop(dataframe[dataframe.dew_point >= 46.050000000000004]. index, inplace = True)

In [16]:
dataframe.drop(dataframe[dataframe.dew_point <= -31.150000000000002]. index, inplace = True)

In [17]:
quantile_25 = np.quantile(dataframe['sol_rad'], 0.25)
quantile_75 = np.quantile(dataframe['sol_rad'],0.75)
IQR = quantile_75 - quantile_25
minimum = quantile_25 - 1.5 * IQR
maximum = quantile_75 + 1.5 * IQR
print(quantile_25, quantile_75, IQR, minimum, maximum)

0.0 177.778 177.778 -266.667 444.44499999999994

In [18]:
dataframe.drop(dataframe[dataframe.dew_point >= 444.44499999999994]. index, inplace = True)

In [19]:
dataframe.drop(dataframe[dataframe.dew_point <= -266.667]. index, inplace = True)

In [20]:
quantile_25 = np.quantile(dataframe['cloud'], 0.25)
quantile_75 = np.quantile(dataframe['cloud'],0.75)
IQR = quantile_75 - quantile_25
minimum = quantile_25 - 1.5 * IQR
maximum = quantile_75 + 1.5 * IQR
print(quantile_25, quantile_75, IQR, minimum, maximum)

0.0 7.0 7.0 -10.5 17.5

In [21]:
dataframe.drop(dataframe[dataframe.dew_point >= 17.5]. index, inplace = True)

In [22]:
dataframe.drop(dataframe[dataframe.dew_point <= -10.5]. index, inplace = True)

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

dataframe["date"] = pd.to_datetime(dataframe["date"])

In [24]:
dataframe[dataframe.duplicated()]

Empty DataFrame
Columns: [date, year, month, day, hour, pow_gen, temperature, humidity, dew_point, sol_rad, cloud]
Index: []

In [27]:
dataframe.isnull().sum()

date           0
year           0
month          0
day            0
hour           0
pow_gen        0
temperature    0
humidity       0
dew_point      0
sol_rad        0
cloud          0
dtype: int64

In [28]:
dataframe.rename(columns={"pow_gen": "발전량",
                     "temperature": "기온",
                     "humidity": "습도",
                     "dew_point": "이슬점 온도",
                     "sol_rad": "일사량",
                     "cloud": "구름양"}, inplace=True)

In [29]:
dataframe

,date,year,month,day,hour,발전량,기온,습도,이슬점 온도,일사량,구름양
0,2016-12-13 14:00:00,2016,12,13,14,140.631,4.3,77,0.6,100.000,0
1,2016-12-13 15:00:00,2016,12,13,15,85.793,4.3,80,1.1,72.222,0
2,2016-12-13 16:00:00,2016,12,13,16,32.590,3.8,80,0.6,55.556,0
3,2016-12-13 17:00:00,2016,12,13,17,0.154,3.4,80,0.2,13.889,0
4,2016-12-13 18:00:00,2016,12,13,18,0.000,2.6,86,0.4,2.778,0
...,...,...,...,...,...,...,...,...,...,...,...
35482,2020-12-31 19:00:00,2020,12,31,19,0.000,-0.9,65,-6.6,0.000,8
35483,2020-12-31 20:00:00,2020,12,31,20,0.000,-1.5,66,-7.0,0.000,8
35484,2020-12-31 21:00:00,2020,12,31,21,0.000,-1.9,75,-5.7,0.000,8
35485,2020-12-31 22:00:00,2020,12,31,22,0.000,-2.7,73,-6.8,0.000,8
35486,2020-12-31 23:00:00,2020,12,31,23,0.000,-4.0,84,-6.3,0.000,5

In [42]:
dataframe.to_csv("처리 data.csv", header=True, index = False, encoding='cp949')